
$global-grid--settings: (
    columns: 12,
    gutter: 20px,
    direction: ltr
);

$global-spacing: (
    0,
    5,
    10,
    15,
    30
);

$colors: (
    'primary': #000,
    'secondary': #fff,
    'grayish': #d2d2d2
);

$global-box--padding: 22px;
$global-box--border-color: aqua;
$global-box--background-color: purple;
$global-box--circle-diameter: 5em;

$acme-button--color: #fff;
$acme-button--primary-color: #ad0000;
$acme-button--font-fam: system-ui, helvetica, sans-serif;

@import '@springernature/global-box/scss/30-mixins/global-box';
@import '@springernature/global-box/scss/50-components/global-box';
@import '@springernature/global-spacing/scss/20-functions/global-spacing';
@import '@springernature/global-colors/scss/20-functions/global-colors';
@import '@springernature/global-grid/scss/30-mixins/global-grid';
@import '@springernature/global-mq/scss/30-mixins/global-mq';
@import '@springernature/acme-button/scss/50-components/acme-button';

@font-face {
    font-family: 'lorem';
    src: url("/BLOKKNeue-Regular.woff2") format("woff2");
}

$tablet: 600px;
$desktop: 800px;

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    color: get-color('primary');
    background-color: get-color('secondary');
    color: rgb(40, 40, 40);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mt-50 {
    margin-top: 50px;
}

.ml-20 {
	margin-left: 20px;
}

.mr-20 {
	margin-right: 20px;
}

.float-right {
	float: right;
}

.bfc-clearfix {
	display: flow-root;
}

.height313 > * {
    height: 313px;
}

h1 {
    font-weight: 100;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 100;
    margin: global-spacing(0, 10, 0, 0);
}

h2 {
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h2 {
    font-size: 21px;
}

p {
    font-weight: 300;
    font-family: 'lorem', sans-serif;
}

.grayscale {
    filter: grayscale(1);
}

.tablet-span-6 {
    @include breakpoint($tablet) {
        @include grid-column(6 of 12);
    }
}

.desktop-span-4 {
    @include breakpoint($desktop) {
        @include grid-column(4 of 12);  
    }
}

.grid-container {
    @include grid-container;
}

.grid-container-2col p, 
.grayp p  {
    color: get-color(grayish);
}

.grid-container-2col > * {
    @include breakpoint($tablet) {
        @include grid-column(6 of 12);
    }
}

.constrain-width {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: black;
    min-height: 40px;
    text-align: center;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 50px;
}

.standard-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.fake-image {
    height: 150px;
    background-color: get-color(grayish);
    margin-right: 10px;
    margin-bottom: 3px;
    border-radius: 1px;
}

.fake-image-small {
    height: 90px;
    width: 90px;
    background-color: get-color(grayish);
    border-radius: 1px;
    float: right;
}

.large-text {
    font-size: 17px;
}

.small-text {
    font-size: 14px;
}

.margin-0 {
    margin: 0;
}

[data-expandable-box] {
    overflow: hidden;
}

.grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	text-align: center;
	grid-gap: 5px;
	color: white;
}

.span8 {
	grid-column: 1 / -1;
	background-color: rgb(204, 0, 74);
}

.span4 {
	grid-column: span 4;
}

.pink {
	background-color: rgb(244, 65, 217);
}

.light-pink {
	background-color: rgb(242, 169, 231);
}

.blue {
background-color: rgb(72, 40, 255);
}

.light-blue {
background-color: rgb(168, 153, 255);
}

.grid > * {
	font-family: system-ui, helvetica;
	border: solid 2px rgb(50,50,50);
	padding: 10px;
	font-weight: 800;
}

.card * {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
}

.card {
	padding: 20px;
	color: rgb(70,70,70);
	background-color: rgb(8,234,222);
	border: solid 5px rgb(70,70,70);
	border-radius: 5px;
	max-width: 100%;
	position: relative;
}

.card h2 {
	display: inline-block;
	margin-top: 0;
	font-weight: 900;
	letter-spacing: 0.3px;
	margin-bottom: 6px;
}

.card p {
	margin-top: 2px;
}

li, ul, ol {
	padding: 0;
	margin: 0;
}

ol {
	list-style: none;
}

ul {
	list-style-type: disc;
	list-style-position: inside;
}

.card-grid {
	display: grid;
	align-content: center;
	grid-gap: 30px;
	margin-left: 25px; margin-right: 25px;
}

@media (min-width: 600px) {
	.card-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 900px) {
	.card-grid {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

body {
	counter-reset: section;
  }

.card::before {
	counter-increment: section;
	content: counter(section);
	border: solid 2px currentColor;
	position: absolute;
	right: -27px;
	top: -28px;
	background-color: white;
	border-radius: 50%;
	height: 2em;
	width: 2em;
	text-align: center;
	vertical-align: middle;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	font-weight: 800;
	font-size: 24px;
  }

  p, li {
	  font-weight: 600;
  }