
$global-grid--settings: (
  columns: 12,
  gutter: 20px,
  direction: ltr
);

@import '../../node_modules/@springernature/global-box/scss/10-settings/_global-box.scss';
@import '../../node_modules/@springernature/global-box/scss/30-mixins/_global-box.scss';
@import '../../node_modules/@springernature/global-box/scss/60-patterns/_global-box.scss';
@import '../../node_modules/@springernature/global-grid/scss/30-mixins/_global-grid.scss';
@import '../../node_modules/@springernature/global-mq/scss/30-mixins/_global-mq.scss';

@import '../../node_modules/@springernature/global-colors/scss/10-settings/_global-colors.scss';
@import '../../node_modules/@springernature/global-colors/scss/20-functions/_global-colors.scss';

@font-face {
	font-family: 'lorem';
	src: url("/BLOKKNeue-Regular.woff2") format("woff2");
}

$tablet: 600px;
$desktop: 800px;

body {
	margin: 0;
	padding: 0;
	line-height: 1.3;
	// background-color: rgb(245,245,245);
	color: get-color('primary');
	background-color: get-color('secondary');
	color: rgb(40,40,40);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.mt-50 {
	margin-top: 50px;
}

.height313 > * {
	height: 313px;
}

h1 {
    font-weight: 100;
    text-align: right;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 100;
	margin-right: 10px;
}

h2 {
	font-weight: 500;
}

h1, h2, h3, h4, h5 {
	line-height: 1.2;
}

h2 {
	font-size: 21px;
}

p {
	font-weight: 300;
	font-family: 'lorem', sans-serif;
}

.grayscale {
	filter: grayscale(1);
}

.tablet-span-6 {
	@include breakpoint($tablet) {
		@include grid-column(6 of 12);
}
}

.desktop-span-4 {
	@include breakpoint($desktop) {
	@include grid-column(4 of 12);  
	}
}


.grid-container {
	@include grid-container;
}

.grid-container-2col p, .grayp p  {
	color: rgb(210,210,210);
}

.grid-container-2col > * {
	@include breakpoint($tablet) {
		@include grid-column(6 of 12);
}
}

.constrain-width {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

footer {
	background-color: black;
	min-height: 40px;
	text-align: center;
    font-weight: 500;
    display: flex;
    align-items: center;
	justify-content: center;
	color: white;
	margin-top: 50px;
}

.standard-padding {
	padding-left: 10px;
	padding-right: 10px;
}

.fake-image {
    height: 150px;
	background-color: rgb(210,210,210);
	margin-right: 10px;
	margin-bottom: 3px;
	border-radius: 1px;
}

.fake-image-small {
    height: 90px;
    width: 90px;
	background-color: rgb(210,210,210);
	border-radius: 1px;
	float: right;
}

.large-text {
	font-size: 17px;
}

.small-text {
	font-size: 14px;
}

.margin-0 {
	margin: 0;
}

body {
	height: min-content;
}

[data-expandable-box] {
	overflow: hidden;
}