<h1><span class="grayscale">🍰</span> Vertical <br> Slice</h1>
<div class="constrain-width">
<div class="grid-container grayp height313">
	<div class="desktop-span-4 tablet-span-6">
<h2>China introduces sweeping reforms to crack down on academic misconduct </h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore tenetur sunt eius odio quas veritatis ullam ad voluptates soluta commodi veniam beatae alias inventore, officiis a nostrum reiciendis dolorum facere.</p>
</div>

<div class="desktop-span-4 tablet-span-6">
<h2>Whale hunt, saltwater rice and cancer-drug boom</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vel doloribus voluptates, quas rem animi dolores expedita laudantium possimus dicta?</p>
</div>


<div class="desktop-span-4 tablet-span-6">
<h2>One special cell can revive a flatworm on the brink of death</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, eaque!</p>	
</div>
	
	<div class="desktop-span-4 tablet-span-2">
<h2>Sucking carbon dioxide from air is cheaper than scientists thought</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, eaque!</p>	
</div>
	
	<div class="desktop-span-4 tablet-span-6">
<h2>Hormone status regulates autoantibody pathogenicity</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore tenetur sunt eius odio quas veritatis ullam ad voluptates soluta commodi veniam beatae alias inventore, officiis a nostrum reiciendis dolorum.</p>
</div>

<div class="desktop-span-4 tablet-span-2">
<h2>Calming the cytokine storm</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vel doloribus voluptates, quas rem animi dolores expedita laudantium possimus dicta?</p>
</div>

</div>

<div class="grid-container mt-50">
	
<div class="desktop-span-4">
	<div class="fake-image"></div>
<p class="large-text">
 asperiores ex ullam voluptatem obcaecati neque eligendi nesciunt unde iure quisquam suscipit odit aut! Libero commodi, a error qui, similique numquam, neque repellendus rem autem animi inventore iste sed? Corrupti excepturi </p>
</div>

<div class="desktop-span-4">
	<div class="fake-image"></div>
<p class="large-text">
Ratione harum consectetur eaque saepe veritatis ab, distinctio unde fuga tempora doloribus possimus quidem numquam. Impedit aliquam, ex ullam eligendi nesciunt unde iure quisquam suscipit odit aut! Libero commodi, similique numquam, neque repellendus rem autem animi inventore iste sed?</p>
</div>

<div class="desktop-span-4">
	<div class="fake-image"></div>
<p class="large-text">
Natus odit in quae similique! Tempora voluptatum ducimus asperiores ex ullam voluptatem obcaecati neque eligendi nesciunt unde iure quisquam suscipit odit aut! Libero commodi, a error qui neque repellendus rem? Corrupti excepturi </p>
</div>

</div>

<div class="grid-container mt-50 grayp">

<div class="tablet-span-6"><h2>A crab spider’s guide to going airborne</h2>
<p>sit amet consectetur adipisicing elit. Aspernatur, ea odit? Odio, cumque illo. Hic nostrum modi vel at...</p>
</div>

<div class="tablet-span-6"><h2>Mammals turn to night life to avoid people</h2>
<p>consectetur adipisicing elit. Aspernatur, ea odit? Odio, cumque illo. Hic nostrum modi vel at Aspernatur, ea odit? Lorem ipsum dolore...</p>
</div>

<div class="tablet-span-6"><h2>Choosing the future of Antarctica</h2>
<p>Dolor, sit amet consectetur adipisicing elit. Aspernatur, ea odit? Odio, cumque illo. Hic nostrum modi vel at...</p>
</div>

<div class="tablet-span-6"><h2>All eyes on rapid adaptive evolution</h2>
<p>Aspernatur, ea odit? Odio, cumque illo. Hic nostrum modi vel at...</p>
</div>

</div>

<div class="grid-container mt-50">

<div class="desktop-span-4">
	<h2>Asteroid battle: Tech entrepreneur doubles down on critique of NASA mission</h2>
	<div class="fake-image-small"></div>
	<p class="margin-0 lorem">Lorem ipsum. Iure ducimus cumque necessitatibus provident dolorum expedita cupiditate deleniti dicta ut doloremque nostrum facere aspernatur illum culpa, numquam eius.</p>
</div>

<div class="desktop-span-4">
	<h2>Printing ferromagnetic domains for untethered fast-transforming soft materials</h2>
	<div class="fake-image-small"></div>
	<p class="margin-0 lorem">Lorem ipsum dolor sit consectetur amet adipisicing.  dolorum expedita cupiditate deleniti dicta ut doloremque nostrum facere aspernatur illum culpa.</p>
</div>

<div class="desktop-span-4">
	<h2>Protection from UV light is an evolutionarily conserved feature of the haematopoietic niche</h2>
	<div class="fake-image-small"></div>
	<p class="margin-0 lorem">Lorem ipsum, dolor sitblah ametbo consectetur adipisicing elit. Iure ducimus cumque necessitatibus provident dolorum expedita cupiditate deleniti dicta ut doloremque nostrum facere aspernatur illum culpa, numquam eius.</p>
</div>

</div>

<button class="mdc-fab" aria-label="Favorite">
  <span class="mdc-fab__icon material-icons">favorite</span>
</button>

<div class="box">
	<div data-expandable-box>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil mollitia suscipit ad voluptas quisquam dolorem facere, maxime est eligendi dignissimos obcaecati eaque natus vero, perferendis iusto ipsum illum illo? Tempora nobis, at voluptas distinctio debitis dolorum harum est ratione repellendus pariatur! Quam, iusto fugit ipsam cupiditate eaque assumenda. Dolores minima qui temporibus dolore sed, doloremque dicta laborum amet quaerat consequatur quis consequuntur voluptatibus beatae nam veniam? Incidunt suscipit corrupti odio quas, nihil sint soluta veniam itaque, ipsa qui omnis quo eligendi ratione aut facilis eveniet quod corporis esse harum laborum magnam. Alias expedita non animi tempore porro? Ipsum, expedita rem enim ut fugit tenetur deleniti vitae laborum sunt praesentium numquam officia dignissimos ipsam provident consequatur quaerat at aut placeat doloremque veniam facere eaque. Sapiente, voluptate? Natus minus perferendis repudiandae, modi facilis labore aperiam voluptas suscipit quam aut nam quaerat voluptate delectus saepe et corporis libero sit iusto voluptatum. Consequatur, culpa.</p>
</div>
</div>


</div>

<footer class="standard-padding">
	<small>This Vertical Slice is intended to demonstrate the functionality of the new Packages architecture.</small>
</footer>