<h1><span class="grayscale">🍰</span> Vertical <br> Slice</h1>
<div class="constrain-width">
<div class="grid-container grayp height313">
	<div class="desktop-span-4 tablet-span-6">
<h2>This page is built using packages installed from NPM...</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore tenetur sunt eius odio quas veritatis ullam ad voluptates soluta commodi veniam beatae alias inventore, officiis a nostrum reiciendis dolorum facere.</p>
</div>

<div class="desktop-span-4 tablet-span-6">
<h2>Including global-colors, global-expandable-box, global-grid...</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vel doloribus voluptates, quas rem animi dolores expedita laudantium possimus dicta?</p>
</div>


<div class="desktop-span-4 tablet-span-6">
<h2>global-mq and global-spacing.</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, eaque!</p>	
</div>
	
	<div class="desktop-span-4 tablet-span-2">
<h2>javascript is delivered transpiled to older browsers...</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, eaque!</p>	
</div>
	
	<div class="desktop-span-4 tablet-span-6">
<h2>and untranspiled to newer browsers</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore tenetur sunt eius odio quas veritatis ullam ad voluptates soluta commodi veniam beatae alias inventore, officiis a nostrum reiciendis dolorum.</p>
</div>

<div class="desktop-span-4 tablet-span-2">
<h2>Calming the cytokine storm</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vel doloribus voluptates, quas rem animi dolores expedita laudantium possimus dicta?</p>
</div>

</div>


<div class="box">
	<div data-expandable-box>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil mollitia suscipit ad voluptas quisquam dolorem facere, maxime est eligendi dignissimos obcaecati eaque natus vero, perferendis iusto ipsum illum illo? Tempora nobis, at voluptas distinctio debitis dolorum harum est ratione repellendus pariatur! Quam, iusto fugit ipsam cupiditate eaque assumenda. Dolores minima qui temporibus dolore sed, doloremque dicta laborum amet quaerat consequatur quis consequuntur voluptatibus beatae nam veniam? Incidunt suscipit corrupti odio quas, nihil sint soluta veniam itaque, ipsa qui omnis quo eligendi ratione aut facilis eveniet quod corporis esse harum laborum magnam. Alias expedita non animi tempore porro? Ipsum, expedita rem enim ut fugit tenetur deleniti vitae laborum sunt praesentium numquam officia dignissimos ipsam provident consequatur quaerat at aut placeat doloremque veniam facere eaque. Sapiente, voluptate? Natus minus perferendis repudiandae, modi facilis labore aperiam voluptas suscipit quam aut nam quaerat voluptate delectus saepe et corporis libero sit iusto voluptatum. Consequatur, culpa.</p>
</div>
</div>

<div class="grid">
	<p class="span8">Global</p>
	<p class="span4 pink">Brand A</p>
	<p class="span4 blue">Brand B</p>
	<p class="light-pink">App</p>
	<p class="light-pink">App</p>
	<p class="light-pink">App</p>
	<p class="light-pink">App</p>
	<p class="light-blue">App</p>
	<p class="light-blue">App</p>
	<p class="light-blue">App</p>
	<p class="light-blue">App</p>
</div>

<div class="c-box c-box--circle mt-50">box content</div>

<div class="mt-50 bfc-clearfix">
<button class="float-right c-button ml-20">acme button</button>
<button class="float-right c-button c-button--secondary">secondary button</button>

</div>

<div class="flow-visual">
	<ol class="card-grid mt-50">
		<li class="card"><h2>Identify 👀</h2></li>
		<li class="card"><h2>Review 🧐</h2>
		<p>Test, iterate, improve, fix</p>
		</li>
		<li class="card">
			<h2>Publish 🎉</h2>
			<ul>
				<li>Publish component on NPM.</li>	
				<li>Delete original code</li>
				</ul>
		</li>
		<li class="card"></li>
	</ol>
</div>


</div>

<footer class="standard-padding">
	<small>This Vertical Slice is intended to demonstrate the functionality of the new Packages architecture.</small>
</footer>