<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
	<link rel="stylesheet" href="/css/style.css" media="only screen and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0), (-ms-high-contrast: none), only all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm)">
  </head>
  <body>
    {{{body}}}
		<script type="module">
		import './javascript/bundle-min-es6.js';
	</script>
	<script>
		(function() {
    var linkEl = document.querySelector('link');
    if (window.matchMedia && window.matchMedia(linkEl.media).matches) {
		var nomodulescript = document.createElement('script');
        nomodulescript.src = './javascript/bundle-es5.js';
		nomodulescript.setAttribute("nomodule", true);
        document.body.appendChild(nomodulescript);
    }
})();
	</script>
  </body>
</html>
